#grade-page-div{
    text-align: right;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 500px;
}
#auto-complete-inp{
    width: 200px;
    height: 50px;
    padding-top: 20px;
    background-color: antiquewhite;
    position: "relative";
    overflow: "hidden";
    border: "1px solid #ccc";
}